<table class="table">
  <thead class="table-info">
    <tr>
      <th>#</th>
      <th>First Name: </th>
      <th>Last Name: </th>
      <th>Age: </th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userData; index as num">
      <td>{{ num }}</td>
      <td>{{ user.givenName }}</td>
      <td>{{ user.surName }}</td>
      <td>{{ user.age }}</td>
      <td class="text-center">
        <button (click)="onDeleteUser(num)" class="btn btn-danger btn-sm">
          Delete
        </button>
      </td>
      <td class="text-center">
        <button (click)="onSendUser(user)" class="btn btn-success btn-sm"> 
          Send
        </button>
      </td>
    </tr>
  </tbody>
</table>