<ng-container *ngIf="person; else nodata">
  <p>Here are more details:</p>
  <table>
    <tr>
      <td class="header">First Name:</td>
      <td>{{ person.givenName }}</td>
    </tr>
    <tr>
      <td class="header">Last Name:</td>
      <td>{{ person.surName }}</td>
    </tr>
    <tr>
      <td class="header">Age:</td>
      <td>{{ person.age }}</td>
    </tr>
    <tr>
      <td class="header">Email:</td>
      <td>{{ person.email }}</td>
    </tr>
    <tr>
      <td class="header">Address:</td>
      <td>{{ person.address }}</td>
    </tr>
  </table>
</ng-container>

<ng-template #nodata>
  <p>No person details</p>
</ng-template>